.root-layout {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.layout-upper-max {
    height: 70%;
    transition: height 500ms;
    display: flex;
}

.layout-upper-min {
    height: 30%;
    transition: height 500ms;
    display: flex;
}

.layout-center {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-2);
    width: 100%;
    height: 45px;
}

.layout-outlet-max {
    height: 70%;
    transition: height 500ms;
}

.layout-outlet-min {
    height: 30%;
    transition: height 500ms;
}