*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    --background-1: #222;
    --background-2: #333;
    color: white;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    overflow: hidden;
    background-color: var(--background-1);
}
h2{
    font-size: 1.2em;
}
h3{
    font-size: 1.1em;
}
.direccion-carpet{
    font-size: 0.7em;
}